@media (max-width: 1366px) {
    header#header {
        padding-block: 22px;
    }
    header#header .box-logo .logo-page img {
        height: 70px;
    }
    #banner-main .content-banner .content .title-banner {
        font-size: 38px;
    }
    #banner-main .content-banner .content .title-banner.or {
        font-size: 44px;
    }
    #banner-main .content-banner .content .text {
        padding-block: 10px;
        font-size: 18px;
        margin-top: 20px;
    }
    #discover .wrap-silde .item .box-top .box-title .title {
        font-size: 40px;
    }
    .modal .modal-number .modal-content .modal-header {
        padding-top: 45px;
    }
    .modal .modal-number .modal-content .modal-header .modal-title {
        font-size: 35px;
    }
    .modal.show .modal-dialog{
        width: calc(100% - 40px);
        margin: 20px auto;
    }
    .modal .modal-number .modal-body .title {
        font-size: 34px;
    }
    .modal .modal-number .modal-content .modal-body {
        padding: 0 40px 45px;
    }
    #chart-power .wrap-synthetic .table-chart {
        width: 200px;
        min-width: 200px;
        height: 200px;
    }
    #chart-power .wrap-synthetic .table-chart .item-table {
        font-size: 34px;
    }
    #chart-power .wrap-synthetic .description .title {
        font-size: 34px;
        margin-bottom: 20px;
    }
    #chart-power .wrap-synthetic .description .text {
        font-size: 16px;
    }
    .modal-number.popup-detail .modal-content .text-title {
        font-size: 40px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .modal-number.popup-detail .modal-content .text-result {
        color: #090a2c;
        font-size: 34px;
        margin-bottom: 35px;
    }
    .modal-number.popup-detail .modal-content {
        padding: 0 30px 50px;
    }
    .modal-number.popup-detail .modal-content .box-result {
        padding-inline: 60px;
    }
    #numer-your-name .number-list .item .content .number {
        padding-top: 20px;
    }
    .industry-group .wrap-list-industry .item .content {
        top: calc(50% + 10px);
    }
    #chart-power .result-footer .box-number {
        margin-top: 10px;
    }
}
@media (max-width: 1200px) { 
    #result-top .text {
        font-size: 32px;
    }
    #result-top .name {
        font-size: 45px;
    }
    #numer-your-name .number-list .item .content .text {
        font-size: 24px;
    }
    #numer-your-name .number-list .item .content {
        padding-top: 70px;
        padding-inline: 20px;
    }
    #numer-your-name .number-list {
        padding-inline: 70px;
        padding-bottom: 80px;
    }
    .box-title-detail .text-title {
        font-size: 30px;
    }
    .box-title-detail .title {
        font-size: 52px;
    }
    #numer-your-name .list-percent .text,
    #numer-your-name .list-percent .text span{
        font-size: 18.677px;
    }
    #numer-your-name .list-percent .percent {
        min-width: 85px;
        padding-left: 40px;
        font-size: 18.677px;
    }
    #numer-your-name .bg-percent {
        height: 38px;
    }
    #chart-power .table-chart {
        width: 370px;
        min-width: 370px;
        height: 370px;
        margin-right: 45px;
    }
    #chart-power .content-chart .description .title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #chart-power .content-chart .description .text {
        font-size: 17px;
        margin-bottom: 30px!important;
    }
    .chart-title .item .number {
        width: 30px;
        min-width: 30px;
        height: 30px;
        margin-right: 25px;
        font-size: 15px;
    }
    .chart-title .item .content span,
    .chart-title .item .content {
        font-size: 22px;
    }
}
@media (max-width: 1080px) {
    #banner-main .bg-banner-main{
        min-height: 450px;
    }
    .modal .modal-number.popup-phone .modal-content {
        padding: 50px;
    }
    .modal .modal-number.popup-phone.popup-avatar .modal-content {
        padding-top: 30px;
    }
    #chart-power .result-footer .box-logo,
    .modal-number.popup-phone .box-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-number.popup-phone .box-logo img{
        object-fit: contain;
        height: 40px
    }
    #chart-power .result-footer .box-logo img{
        height: 60px;
    }
    .modal-number.popup-phone .layout-step-item .box-avatar {
        width: 280px;
        height: 280px;
        position: relative;
        z-index: 1;
    }
    #chart-power .result-footer .title {
        font-size: 35px;
        margin-top: 34px;
    }
    #chart-power .result-footer .name {
        font-size: 60px;
    }
    #chart-power .result-footer .date {
        font-size: 45px;
    }
    #chart-power .result-footer .box-number .number {
        font-size: 210px;
    }
}
@media (max-width: 1024px) {
    #result-top .number-your .number {
        font-size: 210px;
    }
    .industry-group>.text-title {
        font-size: 20px;
    }
    #chart-power .btn-popup {
        font-size: 18px;
    }
    .modal-number.popup-phone .text-title {
        font-size: 26px;
        padding-bottom: 10px;
    }
    .result-form .box-content .box-content-item .text{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .result-form .box-content .box-content-item .percent{
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    header#header {
        padding-block: 20px;
    }
    #banner-main .content-banner .content .text{
        max-width: 55%;
        font-size: 16px;
    }
    #banner-main .content-banner .content .title-banner {
        font-size: 34px;
    }
    #banner-main .content-banner .content .title-banner.or {
        font-size: 38px;
    }
    header#header .box-logo{
        margin-right: 10px;
    }
    header#header .box-logo img{
        object-fit: contain;
    }
    header#header .box-logo .logo-fpt img{
        height: 55px;
        
    }
    header#header .box-logo .logo-page img{
        height: 60px;
    }
    header#header .btn-header {
        height: 75px;
        padding-inline: 15px;
    }
    #discover .content-form-discover{
        border: 2px solid rgb(188, 163, 115);
        border-radius: 23px;
        background-image: none;
        height: auto;
    }
    #discover .content-form-discover .wrap-form {
        padding-inline: 55px;
    }
    #numer-your-name .number-list .item .content {
        padding-top: 50px;
    }
    #numer-your-name .number-list .item .content .number {
        font-size: 110px;
    }
    #numer-your-name .number-list {
        padding-inline: 30px;
    }
    #numer-your-name .number-list .item .content .text {
        font-size: 22px;
    }
    #numer-your-name .number-list {
        margin-inline: -20px;
    }
    #numer-your-name .number-list .col-lg-4 {
        padding-inline: 20px;
    }
    .modal .modal-number .modal-content .modal-header {
        padding-top: 30px;
    }
    .modal .modal-number .modal-content .modal-header .modal-title {
        font-size: 30px;
    }
    .modal .modal-number .modal-body .title {
        font-size: 24px;
    }
    .modal .modal-number .modal-body .box-number-power {
        padding-top: 30px;
    }
    .modal .modal-number .modal-body .box-number-power .number {
        font-size: 170px;
    }
    .modal .modal-number .modal-content .modal-body {
        padding: 0 35px 35px;
    }
    .box-title-detail .text-title {
        font-size: 28px;
    }
    .box-title-detail .title {
        font-size: 40px;
    }
    #numer-your-name .list-percent .text, #numer-your-name .list-percent .text span {
        font-size: 16px;
    }
    #numer-your-name .list-percent .percent {
        min-width: 60px;
        padding-left: 10px;
        font-size: 16px;
    }
    #numer-your-name .bg-percent {
        height: 32px;
    }
    #numer-your-name .list-percent{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    #numer-your-name .list-percent .col-lg-5{
        padding-right: 0;
    }
    #numer-your-name {
        padding-bottom: 60px;
    }
    #chart-power .content-chart{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
    #chart-power .table-chart{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .modal-number.popup-detail .modal-content .text-title {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .modal-number.popup-detail .modal-content .text-result {
        font-size: 30px;
    }
    .modal-number.popup-detail .modal-content .box-result .box-image {
        max-width: 280px;
        min-width: 280px;
        margin-right: 35px;
    }
    .modal-number.popup-detail .modal-content .box-result .box-content .text {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .modal-number.popup-detail .modal-content .icon img{
        width: 150px;
    }
    #chart-power .wrap-synthetic{
        flex-direction: column;
        gap: 20px;
        padding: 70px 25px 60px 25px;
    }
    #chart-power .wrap-synthetic .item {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-chart{
        padding-bottom: 35px;
    }
    .wrap-chart>div{
        margin-bottom: 15px;
    }
}
@media (max-width: 768px) {
    #discover .box-title .title {
        font-size: 32px;
    }
    #discover .box-title .text {
        font-size: 20px;
        margin-top: 15px;
    }
    #discover .content-form-discover .wrap-form .form-control {
        height: 56px;
        padding-inline: 20px;
        font-size: 14px;
    }
    #discover .wrap-silde .item .box-top .box-title .title {
        font-size: 32px;
    }
    #discover .wrap-silde .item {
        padding: 5px 25px 5px 40px;
    }
    #discover .owl-carousel .owl-nav button.owl-prev {
        left: 6px;
    }
    #discover .owl-carousel .owl-nav button.owl-next {
        right: 6px;
    }
    #discover .wrap-silde .item .box-top .box-avatar {
        width: 130px;
        min-width: 130px;
        height: 130px;
    }
    #discover .wrap-silde {
        padding-top: 70px;
    }
    #result-top .number-your .number {
        font-size: 180px;
    }
    #result-top .text {
        font-size: 28px;
    }
    #result-top .name {
        font-size: 38px;
        padding-inline: 20px;
    }
    #result-top .birth-day {
        font-size: 18px;
    }
    #numer-your-name .number-list .item .content .text {
        font-size: 28px;
    }
    #numer-your-name .number-list .item .content .number {
        font-size: 140px;
    }
    #numer-your-name .number-list .item .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modal .modal-number .modal-body .description .text {
        font-size: 16px;
    }
    .modal-number.popup-detail .modal-content .text-title {
        font-size: 26px;
    }
    .modal-number.popup-detail .modal-content .text-result {
        font-size: 28px;
    }
    .modal-number.popup-detail .modal-content .box-result{
        padding-inline: 0;
    }
    .modal-number.popup-detail .modal-content .box-result .box-content .text {
        font-size: 16px;
    }
    .modal-number.popup-detail .modal-content .box-result .btn-submit {
        height: 48px;
        font-size: 22px;
    }
    .modal-number.popup-detail .modal-content .box-result .box-image {
        max-width: 200px;
        min-width: 200px;
        margin-right: 25px;
    }
    .industry-group .wrap-list-industry .list{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start!important;
    }
    .industry-group .wrap-list-industry .list .col-lg-3 {
        padding-inline: 15px;
        width: 250px;
        min-width: 250px;
    }
    .industry-group .wrap-list-industry .item .content {
        padding: 0 20px;
    }
    .industry-group .wrap-list-industry .item .content .text {
        font-size: 24px;
    }
    .industry-group .wrap-list-industry .box-content .text {
        font-size: 16px;
    }
    .modal .modal-number.popup-phone .modal-content {
        padding: 25px;
    }
    #chart-power .result-footer .title {
        font-size: 30px;
        margin-top: 30px;
    }
    #chart-power .result-footer .text {
        font-size: 30px;
    }
    #chart-power .result-footer .name {
        font-size: 46px;
    }
    #chart-power .result-footer .date {
        font-size: 38px;
    }
    #chart-power .result-footer .box-number .number {
        font-size: 180px;
    }
    .chart-title .item .content span, .chart-title .item .content {
        font-size: 16px;
    }
    .chart-title .item {
        margin-bottom: 12px;
    }
    .modal-number.popup-phone .text-title {
        font-size: 22px;
    }
    .modal-number.popup-phone .text {
        font-size: 15px;
    }
    .modal-number.popup-phone .box-phone-otp .box-image {
        max-width: 125px;
        min-width: 125px;
    }
    .modal-number.popup-phone .box-phone-otp .box-btn .btn{
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    #banner-main .content-banner .content .text {
        max-width: 90%;
    }
    #discover .content-form-discover .wrap-form {
        padding-inline: 35px;
    }
    #discover .content-form-discover .note {
        padding: 0 35px;
    }
    #discover .wrap-silde .item .des {
        margin-top: 20px;
        font-size: 16px;
        padding-bottom: 10px;
    }
    .modal-number.popup-detail .modal-content .box-result{
        flex-direction: column;
    }
    .modal-number.popup-detail .modal-content .box-result .box-image{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .modal-number.popup-detail .modal-content .box-result .box-content {
        text-align: center;
    }
    #chart-power .wrap-synthetic .item{
        flex-direction: column;
        margin-bottom: 35px;
    }
    #chart-power .wrap-synthetic .table-chart {
        width: 350px;
        min-width: 350px;
        height: 350px;
        margin: 0 auto 20px;
    }
    #chart-power .wrap-synthetic .description{
        text-align: center;
    }
    #chart-power .result-footer .text {
        font-size: 26px;
    }
    #chart-power .result-footer .name {
        font-size: 38px;
    }
    #chart-power .result-footer .date {
        font-size: 30px;
    }
    #chart-power .result-footer .box-number .number {
        font-size: 160px;
    }
    .modal-number.popup-phone .layout-step-item::before, .modal-number.popup-phone .layout-step-item::after{
        display: none;
    }
    .modal-number.popup-phone .box-phone-otp .box-image {
        max-width: 100px;
        min-width: 100px;
    }
    .modal-number.popup-phone .box-phone-otp .box-input {
        gap: 3px;
    }
    .modal-number.popup-phone .box-phone-otp .input-phone {
        width: 30px;
        min-width: 30px;
        height: 30px;
    }   
    .modal .modal-number.popup-phone .modal-content {
        padding: 16px;
    }
    #chart-power .btn-popup {
        font-size: 14px;
    }
    .box-title-detail .title {
        font-size:36px;
    }
    header#header .box-logo {
        gap: 12px;
    }
    header#header .btn-header .text-top {
        font-size: 10px;
    }
    header#header .btn-header {
        height: 65px;
        padding-inline: 10px;
    }
    header#header .btn-header .text-last {
        font-size: 14px;
    }
    header#header .box-logo .logo-page{
        margin-right: 15px;
    }
    header#header .box-logo .logo-page img {
        height: 45px;
    }
    .result-form .box-main{
        flex-direction: column;
    }
    .result-form .box-header {
        padding-top: 30px;
    }
    .result-form .box-header .title {
        font-size: 30px;
    }
    .result-form .box-main .box-avatar, .result-form .box-main .box-avatar .info {
        flex: unset;
        max-width: 100%;
    }
    .result-form .box-main .box-number {
        flex: unset;
        max-width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-inline: 10px;
        width: 100%;
        max-width: 85%;
    }
    .box-title-detail .text-title {
        font-size: 24px;
    }
    .box-title-detail .title {
        font-size: 28px;
        padding-inline: 10px;
    }
    #chart-power .title-detail {
        padding: 0;
        margin-bottom: -17px;
    }
    .industry-group {
        padding: 25px 10px 15px 10px;
    }
    .industry-group .wrap-list-industry .list {
        padding-inline: 5px;
    }
    .industry-group .wrap-list-industry::-webkit-scrollbar {
        width: 4px;
    }
    #chart-power .btn-popup{
        min-width: 100%;
    }
    .result-form .box-analysis .bg-analysis,
    .result-form .box-analysis .box-content{
        display: none;
    }
    .result-form .box-analysis .content-mobile{
        display: block;
        background: #FFF;
    }
    .result-form .box-analysis .content-mobile .item-content{
        position: relative;
    }
    .result-form .box-analysis .content-mobile .item-content .bg-item{
        display: block;
        width: 100%;
    }
    .result-form .box-analysis .content-mobile .item-content .box-title{
        position: absolute;
        top: 12vw;
        left: 15vw;
        width: 17vw;
        text-align: center;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .result-form .box-analysis .content-mobile .item-content .title{
        font-size: 13px;
        color: #FFF;
    }
    .result-form .box-analysis .content-mobile .box-content-item{
        position: absolute;
        left: 43vw;
        top: 58%;
        width: 38vw;
        transform: translateY(-50%);
        height: 33%;
    }
    .result-form .box-analysis .content-mobile .box-content-item .text{
        font-size: 13px;
        color: #090a2c;
        margin-bottom: 3px;
    }
    .result-form .box-analysis .content-mobile .box-content-item .text *{
        display: contents;
    }
}
@media (max-width: 414px) {
    #chart-power .wrap-synthetic {
        gap: 15px;
        padding: 65px 15px 60px 15px;
    }
    #chart-power .table-chart {
        width: calc(100vw - 30px);
        min-width: calc(100vw - 30px);
        height: calc(100vw - 30px);
    }
    #chart-power .wrap-synthetic .table-chart{
        width: calc(100vw - 63px);
        min-width: calc(100vw - 63px);
        height: calc(100vw - 63px);
    }
    #chart-power .table-chart .item-table{
        font-size: 35px;
    }
    #chart-power .wrap-synthetic .description .title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .result-form .box-analysis .content-mobile .box-content-item .text,
    .result-form .box-analysis .content-mobile .item-content .title{
        font-size: 11.5px;
    }
    .result-form .box-analysis .content-mobile .box-content-item .text{
        margin-bottom: 0;
    }
}
@media (max-width: 375px) {}

























