@font-face {
    font-family: "font-normal";
    src: url("./fonts/coolvetica_rg.ttf") format("truetype");
}
@font-face {
    font-family: "font-acumin";
    src: url("./fonts/Acumin-RPro.otf") format("opentrue");
}

@keyframes animName {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
}

@keyframes trin {

    0%{
        transform: rotateY(0deg);
     }
     100%{
        transform: rotateY(360deg);
     }

}

:root {
    --color-main: #1d9c84;
    --font-normal: 'font-normal', sans-serif;
    --font-acumin: 'font-acumin', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-oldetm: 'old-english-text-mt-regular', sans-serif;
    --color-code-1: #dd2c76;
    --color-code-2: #f44581;
    --color-code-3: #f77aa2;
    --color-code-4: #c77fdc;
    --color-code-5: #d5a0e5;
    --color-code-6: #bc58d2;
    --color-code-7: #e64c9b;
    --color-code-8: #d34fa4;
    --color-code-9: #d35ec2;
}
.color-code-1{
    color: var(--color-code-1);
}
.bg-code-1{
    background: var(--color-code-1);
}
.color-code-2{
    color: var(--color-code-2);
}
.bg-code-2{
    background: var(--color-code-2);
}
.color-code-3{
    color: var(--color-code-3);
}
.bg-code-3{
    background: var(--color-code-3);
}
.color-code-4{
    color: var(--color-code-4);
}
.bg-code-4{
    background: var(--color-code-4);
}
.color-code-5{
    color: var(--color-code-5);
}
.bg-code-5{
    background: var(--color-code-5);
}
.color-code-6{
    color: var(--color-code-6);
}
.bg-code-6{
    background: var(--color-code-6);
}
.color-code-7{
    color: var(--color-code-7);
}
.bg-code-7{
    background: var(--color-code-7);
}
.color-code-8{
    color: var(--color-code-8);
}
.bg-code-8{
    background: var(--color-code-8);
}
.color-code-9{
    color: var(--color-code-9);
}
.bg-code-9{
    background: var(--color-code-9);
}
* {
    font-family: 'font-normal', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
}
html {
    scroll-behavior: smooth;
  }
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'font-normal', sans-serif;
}
div{
    line-height: 1.2;
}
img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.2;
}
.width-auto{
    width: max-content;
    height: max-content;
}
a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1396px;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.color-main{
    border-radius: 5px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    background-color:var(--color-yellow);
    color: #212121;
    text-transform: uppercase;
    text-align: center;
}
.btn.btn-color-main:hover{
    background-color: #060531;
}

  
.btn.btn-color-border-main{
    border-radius: 30px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 10px 23px 8px;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    min-height: 38px;
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 15px;
}
.btn.btn-color-border-main:hover{
    background-color: #d79f55;
    border-color: #d79f55;
    color: #fff;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400!important;
}
.bg-dark{
    background-color: rgb(3, 10, 29)!important;
}
.color-dark{
    color: #252525!important;
}
.color-red{
    color: #f00!important;
}
.color-blue{
    color: var(--color-main)!important;
}
.color-main{
    color: var(--color-main)!important;
}
.title-main{
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}

/* hover image  */
.box-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
    height: 100%;
}
.box-title{
    text-align: center;
}

.box-title-detail{
    text-align: center;
}
.box-title-detail .text-title{
    font-size: 32px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}
.box-title-detail .title{
    font-size: 62px;
    color: #df0ce0;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    padding-inline: 30px;
}

  
 /* header  */
header#header{
    background-color: #090a2c;
    padding-block: 28px;
    transition: all .3s;
}
header#header.active{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}
header#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .box-logo{
    display: flex;
    align-items: center;
    gap: 25px;
}
header#header .box-logo .logo-page img{
    height: 80px;
}
header#header .btn-header{
    border: 1px solid rgb(102, 45, 145);
    border-radius: 23px;
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-inline: 23px;
}
header#header .btn-header .text-top{
    font-family: var(--font-acumin);
    color: rgb(128, 11, 149);
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
}
header#header .btn-header .text-last{
    font-family: var(--font-playfair);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: #bca373;
}
/* banner-main */

#banner-main{
    position: relative;
}
#banner-main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #06053187;
    z-index: 1;
}
#banner-main .bg-banner-main{
    width: 100%;
    max-height: 715px;
}
#banner-main .content-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}

#banner-main .content-banner .content .title-banner{
    font-size: 50px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    text-shadow: 2px 2px #1f0853;
    /* font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1f0853; */
}
#banner-main .content-banner .content .title-banner.or{
    font-size: 64px;
    color: #df0ce0;
    line-height: 1.2;
    text-align: left;
    text-shadow: 2px 2px #1f0853;
}
#banner-main .content-banner .content .text{
    color: #FFF;
    text-shadow: 2px 2px #1f0853;
    font-style: italic;
    max-width: 86%;
    padding-left: 25px;
    padding-block: 16px;
    background-repeat: no-repeat;
    font-size: 22.677px;
    line-height: 1.2;
    margin-top: 25px;
}
/* 090a2c */
  #discover{
    background-image: url(../images/bg-section.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 35px;
  }
  #discover .container>.box-title{
      text-align: center;
      background-image: url(../images/bg-title.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding-bottom: 25px;
  }
  #discover .box-title .title{
  font-size: 34px;
  color: rgb(223, 12, 224);
  line-height: 1.2;
  }
  #discover .box-title .text{
      font-size: 23px;
      font-family: var(--font-playfair);
      color: rgb(255, 255, 255);
      line-height: 1.2;
    margin-top: 20px;
  }
  
#discover .content-form-discover{
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    height: 640px;
}
#discover .content-form-discover{
    background-image: url(../images/border-form.png);
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: cover;
    padding-top: 20px;
    text-align: center;
    background-size: 100% 100%;
    min-height: 640px;
    height: auto;
}
#discover .content-form-discover .wrap-form{
    padding-inline: 77px;
    padding-top: 25px;
    margin: 0 auto;
    background-image: url(../images/bg-form.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 716px;
}
#discover .content-form-discover .wrap-form .form-control{
    height: 56px;
    border-radius: 23px;
    border: 1px solid rgb(134 81 175);
    background-color: rgba(9, 10, 44, 0.902)!important;
    padding-inline: 30px;
    color: rgb(158, 1, 170);
    letter-spacing: .2px;
    font-size: 16px;
    margin-bottom: 10px;
}
#discover .content-form-discover .wrap-form .form-control::placeholder{
    color: rgb(158, 1, 170);
}
#discover .content-form-discover .wrap-form .form-date{
    display: flex;justify-content: space-between;
    align-items: center;
}
#discover .content-form-discover .wrap-form .form-date .item-group{
    width: 139px;
}
#discover .content-form-discover .wrap-form .btn-submit{
    border: 1px solid rgb(102, 45, 145);
    width: 240px;
    height: 45px;
    border-radius: 23px;
    background-color: rgb(158, 1, 170);
    font-size: 24px;
    color: #FFF;
    margin: 17px auto 28px;
}
#discover .content-form-discover .note{
    padding: 0 68px;
}
#discover .content-form-discover .note .title-note{
    font-family: var(--font-playfair);
    font-size: 17px;
    margin-bottom: 20px;
    color: rgb(188, 163, 115);
}
#discover .content-form-discover .note .description p{
    font-size: 17px;
    color: rgb(188, 163, 115);
    margin-bottom: 15px;
}
#discover .content-form-discover .note .description p:last-child{
    margin-bottom: 0;
}
#discover .wrap-silde{
    padding-top: 100px;
}
#discover .wrap-silde .item{
    background-image: url(../images/bg-item-8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    border: 2px solid rgb(188, 163, 115);
    border-radius: 10px;
    padding: 5px 40px 5px 60px;
}

#discover .wrap-silde .item .box-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
#discover .wrap-silde .item .box-top .box-title{
    text-align: left;
}
#discover .wrap-silde .item .box-top .box-title .title{
    font-size: 45.354px;
    font-family: var(--font-playfair);
    color: rgb(188, 163, 115);
    line-height: 1.2;
}
#discover .wrap-silde .item .box-top .box-title .school{
    color: #FFF;
    margin-top: 4px;
}
#discover .wrap-silde .item .box-top .box-avatar{
    width: 160px;
    min-width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 5px solid rgb(188, 163, 115);
    overflow: hidden;
}
#discover .wrap-silde .item .box-top .box-avatar img{
    width: 100%;
    height: 100%;
}
#discover .wrap-silde .item .box-image{
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    width: calc(100% - 20px);
}
#discover .wrap-silde .item .box-image img{
    width: 100%;
}
#discover .wrap-silde .item .des{
    margin-top: 25px;
    color: rgb(188, 163, 115);
    font-size: 18px;
    line-height: 1.2;
}

#discover .owl-carousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#discover .owl-carousel .owl-nav button.owl-prev{
    left: 12px;
}
#discover .owl-carousel .owl-nav button.owl-next{
    right: 12px;
}
#discover .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent
}
#discover .owl-theme .owl-dots{
    margin-top: 25px;
}
#discover .owl-theme .owl-dots .owl-dot span{
    width: 19px;
    height: 19px;
}
#discover .owl-theme .owl-dots .owl-dot.active span{
    background-color: rgb(188, 163, 115);
}
/* DETAIL */
/* DETAIL */
/* DETAIL */
#result-top{
    background-image: url(../images/bg-banner.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}
#result-top .text{
    font-size: 34px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 2px 2px #1f0853;
    margin-bottom: 5px;
}
#result-top .name{
    text-transform: uppercase;
    font-size: 48px;
    color: #df0ce0;
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px #1f0853;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
}
#result-top .name::before,
#result-top .name::after{
    content: "";
    background-image: url(../images/bg-text.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    text-align: center;
    display: block;
    width: 9px;
    height: 142px;
    position: absolute;
    top: 12px;
}
#result-top .name::before{
    left: 0;
}
#result-top .name::after{
    right: 0;
}
#result-top .birth-day{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px #1f0853;
    margin-bottom: 10px;
}
#result-top .number-your{
    position: relative;
}
#result-top .number-your .bg-number{
    animation: animName 10s linear infinite;
    width: 100%;
    max-width: 440px;
}
#result-top .number-your .number{
    font-size: 250px;
    font-family: "Old English Text MT";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 1px #bca373;
    z-index: 1;
}

  /*  */
  #numer-your-name{
    background-image: url(../images/bg-banner-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 70px;
    overflow: hidden;
  }
  #numer-your-name .number-list{
    margin-inline: -26px;
    padding-inline: 90px;
    padding-bottom: 85px;
  }
  #numer-your-name .number-list .col-lg-4{
    padding-inline: 26px;
  }
  #numer-your-name .number-list .item{
    padding-top: 32px;
    background-image: url(../images/bg-title-2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: relative;
}
    #numer-your-name .number-list .item .bg-item{
        width: 100%;
        max-width: 361px;
    }
  #numer-your-name .number-list .item .content{
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 32px);
    padding-top: 90px;
    padding-inline: 40px;
  }
  #numer-your-name .number-list .item .content .text{
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px #1f0853;
    margin-bottom: 0;
  }
  #numer-your-name .number-list .item .content .number{
      font-size: 140px;
      font-family: "Old English Text MT";
      color: rgb(255, 255, 255);
      line-height: 1;
      text-align: center;
      text-shadow: 3px 3px 1px #bca373;
      padding-top: 40px;
    }
#numer-your-name .box-title-detail{
    margin-bottom: 30px;
}
#numer-your-name .list-percent{
    margin-top: 5px;
}
#numer-your-name .list-percent .text{
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: right;
}
#numer-your-name .list-percent .text span{
    font-size: 22px;
    color: #bca373;
}
#numer-your-name .list-percent .percent{
    min-width: 105px;
    padding-left: 45px;
    font-size: 22px;
    color: #FFF;
}
#numer-your-name .bg-percent{
    height: 42px;
}
  /*  */
#chart-power{
    background-image: url(../images/bg-section-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 60px;
}
#chart-power .box-title-detail{
    padding-bottom: 15px;
}
#chart-power .content-chart{
    display: flex;
    padding-bottom: 75px;
}
#chart-power .table-chart{
    width: 416px;
    min-width: 416px;
    height: 416px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 65px;
}
#chart-power .table-chart .item-table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(100% / 3);
    height: calc(100% / 3);
    border-bottom: 1px solid #f2def0;
    border-right: 1px solid #f2def0;
    font-size: 60.2px;
    font-family: "Old English Text MT";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 2px 2px 1px #bca373;
}
#chart-power .table-chart .item-table.current-power{
    cursor: pointer;
}
#chart-power .table-chart .item-table:nth-child(3),
#chart-power .table-chart .item-table:nth-child(6),
#chart-power .table-chart .item-table:nth-child(9){
    border-right: none;
}
#chart-power .table-chart .item-table:nth-child(7),
#chart-power .table-chart .item-table:nth-child(8),
#chart-power .table-chart .item-table:nth-child(9){
    border-bottom: none;
}
#chart-power .content-chart .description .title{
    font-size: 22.677px;
    color: rgb(188, 163, 115);
    line-height: 1.625;
    text-transform: uppercase;
}
#chart-power .content-chart .description .text{
    color: #FFF;
    font-size: 22.677px;
}

#chart-power .wrap-synthetic{
    display: flex;
    gap: 54px;
    padding: 95px 32px 75px 32px;
    border: 2px solid rgb(188, 163, 115);
    border-radius: 10px;
}

#chart-power .wrap-synthetic .item{
    display: flex;
    flex: 0 0 calc(50% - 27px);
    max-width: calc(50% - 27px);
}
#chart-power .wrap-synthetic .table-chart{
    width: 300px;
    min-width: 300px;
    height: 300px;
    margin-right: 20px;
}
#chart-power .wrap-synthetic .table-chart .item-table{
    font-size: 50px;
    
}
#chart-power .wrap-synthetic .description .title{
    font-size: 42.52px;
    color: rgb(188, 163, 115);
    line-height: 1.2;
    margin-bottom: 45px;
}
#chart-power .wrap-synthetic .description .text{
    color: #FFF;
    font-size: 20PX;
}
#chart-power .title-detail{
    padding: 0;
    margin-bottom: -40px;
}
#chart-power .title-detail .title{
    background-color: #090a2c;
}

#chart-power .box-popup{
    text-align: center;
    margin-top: -22px;
    padding-bottom: 75px;
}
#chart-power .btn-popup{
    border: 1px solid rgb(102, 45, 145);
    background-color: rgb(158, 1, 170);
    border-radius: 22px;
    height: 44px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-inline: 22px;
    text-shadow: 2px 2px #1f0853;
}

.modal .modal-number{
    width: 100%;
    max-width: 1000px;
}
.modal .modal-number .modal-content{
    background-color: rgb(146, 39, 143);
    border-radius: 43px;
    overflow: hidden;
}
.modal .modal-number .modal-content .modal-header{
    justify-content: center;
    padding-top: 40px;
    border-bottom: 0;
}
.modal .modal-number .modal-content .modal-header .modal-title{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 2px 2px #1f0853;
}
.modal .modal-number .modal-content .modal-body{
    background-image: url(../images/bg-item-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 45px 55px;
    text-align: center;
}

.modal .modal-number .modal-body .title{
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 2px 2px #1f0853;
    display: inline-flex;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    position: relative;
    padding-inline: 30px;
}
.modal .modal-number .modal-body .box-number-power{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.modal .modal-number .modal-body .box-number-power .number{
    font-size: 260px;
    font-family: "Old English Text MT";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 1px #bca373;
}
.modal .modal-number .modal-body .description .text{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 25px;
}
  

.modal .modal-number .modal-body .title::before,
.modal .modal-number .modal-body .title::after{
    content: "";
    background-image: url(../images/bg-text.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    text-align: center;
    display: block;
    width: 9px;
    height: 142px;
    position: absolute;
    top: 10px;
}
.modal .modal-number .modal-body .title::before{
    left: 0;
}
.modal .modal-number .modal-body .title::after{
    right: 0;
}

  
.modal-number.popup-detail{
    text-align: center;
}
.modal-number.popup-detail .modal-content{
    display: block;
    background-image: url(../images/bg-item-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 45px 55px;
    text-align: center;
}
.modal-number.popup-detail .modal-content .text-title{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    padding-inline: 25px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.modal-number.popup-detail .modal-content .text-title::before,
.modal-number.popup-detail .modal-content .text-title::after{
    content: "";
    background-image: url(../images/bg-text.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    text-align: center;
    display: block;
    width: 9px;
    height: 142px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.modal-number.popup-detail .modal-content .text-title::before{
    left: 0;
}
.modal-number.popup-detail .modal-content .text-title::after{
    right: 0;
}
.modal-number.popup-detail .modal-content .text-result{
    color: #090a2c;
    font-size: 34px;
    margin-bottom: 30px;
}
.modal-number.popup-detail .modal-content .box-result{
    display: flex;
    align-items: center;
    padding-inline: 50px;
}
.modal-number.popup-detail .modal-content .box-result .box-image{
    max-width: 312px;
    min-width: 312px;
    margin-right: 55px;
}
.modal-number.popup-detail .modal-content .box-result  .box-content{
    text-align: left;
}
.modal-number.popup-detail .modal-content .box-result  .box-content .text{
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 35px;
}
.modal-number.popup-detail .modal-content .box-result  .btn-submit{
    border-radius: 22px;
    background-color: rgb(9, 10, 44);
    border: 1px solid rgb(102, 45, 145);
    height: 57px;
    color: rgb(223, 12, 224);
    font-size: 27px;
    width: 100%;
    max-width: 300px;
    transition: all .3s;
}
.modal-number.popup-detail .modal-content .box-result  .btn-submit:hover{
    background-color: rgb(223, 12, 224);
    color: rgb(9, 10, 44);
}

.chart-title{}
.chart-title .item{
    display: flex;
    margin-bottom: 33px;
}
.chart-title .item .number{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .65);
}
.chart-title .item .content{
    font-size: 26px;
    color: rgb(188, 163, 115);
    line-height: 1.2;
    
}
.chart-title .item .content span{
    font-size: 26px;
    line-height: 1.2;
    color: #FFF;
}
.wrap-chart{
    padding-bottom: 65px;
}
.wrap-chart .col-lg-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.industry-group{
    padding: 35px 25px 20px 25px;
    border-radius: 10px;
    background-color: rgb(77, 0, 136);
    position: relative;
    margin-bottom: 80px;
}
.industry-group>.text-title{
    font-size: 22px;
    color: rgb(188, 163, 115);
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px #1f0853;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 25px;
}
.industry-group .wrap-list-industry{
    border-radius: 10px;
    background-color: rgb(72, 1, 126);
    text-align: center;
    padding: 5px 25px;
    max-height: 1024px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
/* width */
.industry-group .wrap-list-industry::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
.industry-group .wrap-list-industry::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
.industry-group .wrap-list-industry::-webkit-scrollbar-thumb {
    background: #9e01aa; 
    border-radius: 10px;
}

.industry-group .wrap-list-industry .box-content .title{
    font-size: 21.372px;
    text-shadow: 2px 2px #1f0853;
    color: rgb(216, 111, 129);
    line-height: 1.2;
    padding-bottom: 25px;

}
.industry-group .wrap-list-industry .box-content .text{
    font-size: 17px;
    text-shadow: 2px 2px #1f0853;
    color: rgb(254, 254, 254);
    line-height: 1.5;
}

.industry-group .wrap-list-industry .list{
    margin-inline: -45px;
    padding-inline: 58px;
}
.industry-group .wrap-list-industry .list .col-lg-3{
    padding-inline: 45px;
}

.industry-group .wrap-list-industry .item{
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
}
.industry-group .wrap-list-industry .item .bg-item{
    width: 100%;
    transition: transform 1s;
}
.industry-group .wrap-list-industry .item .content{
    position: absolute;
    top: calc(50% + 30px);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 30px;
    z-index: 10;
}
.industry-group .wrap-list-industry .item .content .number{
    font-size: 140px;
    font-family: "Old English Text MT";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 3px 3px 1px #bca373;
}
.industry-group .wrap-list-industry .item:not(.active) .content .number{
    animation: trin 5s linear infinite;
}
.industry-group .wrap-list-industry .item.active{
    cursor: default;
}
.industry-group .wrap-list-industry .item.active .bg-item{
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}
.industry-group .wrap-list-industry .item.active .content .number{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: var(--font-normal);
    line-height: 1.2;
    text-shadow: 2px 2px 1px #bca373;

}
#chart-power .industry-group .box-popup{
    position: absolute;
    width: 100%;
    margin-top: -10px;
    left: 0;
}
.industry-group .box-popup .btn-popup{
    max-width: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
}

#chart-power .result-footer{
    text-align: center;
    border: 11px solid rgb(158, 1, 170);
    border-radius: 10px;
    padding: 25px 30px 15px;
    position: relative;
    background-image: url(../images/bg-item-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#chart-power .result-footer .title{
    font-size: 60px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-top: 40px;

}
#chart-power .result-footer .text{
    font-size: 38px;
    color: rgb(255, 255, 255);
    line-height: 1.2;

}
#chart-power .result-footer .name{
    color: rgb(158, 1, 170);
    text-transform: uppercase;
    font-size: 80px;
    margin-top: 10px;
    text-shadow: 2px 2px #1f0853;
}
#chart-power .result-footer .date{
    font-size: 60px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: relative;
    z-index: 1;
}
#chart-power .result-footer .box-number{
    position: relative;
    margin-top: -60px;
}
#chart-power .result-footer .box-number .bg-number{
    animation: animName 12s linear infinite;
}
#chart-power .result-footer .box-number .number{
    font-size: 283.465px;
    font-family: "Old English Text MT";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 1px #bca373;
    z-index: 1;
}
#chart-power .result-footer .box-popup{
    position: absolute;
    width: 100%;
    margin-top: 0;
    left: 0;
}

#chart-power .result-footer .box-popup{
    padding: 0;
}
.modal .modal-number.popup-phone{
    max-width: 890px;
}
.modal .modal-number.popup-phone .modal-content{
    padding: 95px;
    text-align: center;
    background-image: url(../images/bg-section-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.modal .modal-number.popup-phone.popup-avatar{
    position: relative;
}
.modal .modal-number.popup-phone.popup-avatar .modal-content{
    padding-top: 45px;
    padding-bottom: 20px;
}
.modal .modal-number.popup-phone.popup-avatar .result-form{
    /* display: none; */
}
.popup-avatar .result-form .box-header{
    background-image: url(../images/bg-item-9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.popup-avatar .result-form .box-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #06053138;
    z-index: 1;
}
.modal-number.popup-phone .text-title{
    font-size: 28.346px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-bottom: 20px;
}

.modal-number.popup-phone .text{
    font-size: 17px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: 400;
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
    margin-bottom: 20px;
}
.modal-number.popup-phone .box-phone-otp{
    display: flex;
    align-items: center;
    max-width: 410px;
    margin: 0 auto;
}
.modal-number.popup-phone .box-phone-otp .box-image{
    margin-right: 10px;
    width: 100%;
    max-width: 150px;
    min-width: 150px;
}
.modal-number.popup-phone .box-phone-otp .box-image img{
    width: 100%;
}
.modal-number.popup-phone .box-phone-otp .box-input{
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-number.popup-phone .box-phone-otp .input-phone{
    width: 38px;
    min-width: 38px;
    height: 34px;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgba(0, 1, 49, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.modal-number.popup-phone .box-phone-otp .box-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.modal-number.popup-phone .box-phone-otp .box-btn .btn{
    width: 122px;
    height: 34px;
    border-width: 0.25px;
    border-color: rgba(0, 1, 49, .15);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(188, 163, 115);
    font-size: 17px;
    color: rgb(251, 251, 251);
    transition: all .3s;
    padding-top: 6px;
}
.modal-number.popup-phone .box-phone-otp .box-btn .btn:hover{
    background-color: rgba(0, 1, 49, .85);
    color: rgb(188, 163, 115);
}
.modal-number.popup-phone .box-phone-otp .form-group{
    width: 100%;
}
.modal-number.popup-phone .box-phone-otp .input-phone-number{
    width: 250px;
    border-width: 0.25px;
    border-color: rgba(0, 1, 49, .15);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
    height: 36px;
}
.modal-number.popup-phone .layout-step-2{
    display: none;
}
.modal-number.popup-phone .layout-step-2.active{
    display: block;
}
.modal-number.popup-phone .layout-step-item{
    position: relative;
}
.modal-number.popup-phone .layout-step-item::before,
.modal-number.popup-phone .layout-step-item::after{
    content: "";
    background-image: url(../images/bg-text.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
    width: 9px;
    height: 142px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-number.popup-phone .layout-step-item::before{
    left: 0;
}
.modal-number.popup-phone .layout-step-item::after{
    right: 0;
}
.modal-number.popup-phone .layout-step-item .box-avatar{
    width: 314px;
    height: 314px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(9, 10, 44);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto 20px;
}
.modal-number.popup-phone .layout-step-item .box-avatar input{
    opacity: 0;
    /* visibility: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.modal-number.popup-phone .layout-step-item .box-avatar .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .modal-content .close{
    display: none;
} */
.modal .close{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #FFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    z-index: 15;
    cursor: pointer;
    opacity: 1;
}
.result-form{
    width: 100%;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.result-form .box-header{
    padding-top: 20px;
    padding-inline: 10px;
    padding-bottom: 20px;
}
.result-form .box-header .title{
    font-size: 38px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px #1f0853;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}
.result-form .box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.result-form .box-main .box-avatar,
.result-form .box-main .box-avatar .info{
    flex: 0 0 25%;
    max-width: 25%;
}
.result-form .box-main .box-number{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding-inline: 30px;
    position: relative;
    margin-top: -40px;
}
.result-form .box-main .box-number .bg-number{
    width: 100%;
    animation: animName 12s linear infinite;
}
.result-form .box-main .box-number .number{
    font-size: 200px;
    font-family: "Old English Text MT";
    color: rgb(255, 255, 255);
    line-height: 1;
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 1px #bca373;
    z-index: 1;
}
.result-form .box-main .box-avatar{
    text-align: center;
}
.result-form .box-main .box-avatar .box-image{
    width: 100%;
    max-width: 150px;
    border: 3px solid rgb(223, 12, 224);
    border-radius: 100%;
    margin: 0 auto 10px;
}
.result-form .box-main .box-avatar .box-image img{
    width: 100%;
    max-width: 100%;
}
.result-form .box-main .box-avatar .name{
    font-size: 24px;
    color: rgb(223, 12, 224);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #1f0853;
}
.result-form .box-main .box-avatar .date{
    text-shadow: 2px 2px #1f0853;
    font-size: 18px;
    color: #FFF;
    
}
.result-form .box-main .info{
    padding-right: 10px;
}
.result-form .box-main .info li{
    text-shadow: 2px 2px #1f0853;
    color: #FFF;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: flex-start;
}
.result-form .box-main .info li::before{
    content: "";
    width: 10px;
    min-width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(223, 12, 224);
    display: block;
    margin-right: 5px;
    margin-top: 5px;
}

.result-form .box-analysis{
    position: relative;
    width: 100%;

}
.result-form .bg-analysis{
    width: 100%;
}
.result-form .box-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.result-form .box-content .box-content-item{
    position: absolute;
    width: 19%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result-form .box-content .box-content-item .text{
    font-size: 16px;
    margin-bottom: 15px;
}
.result-form .box-content .box-content-item .percent{
    font-size: 20px; display: inline-block;
}
.result-form .box-content .box-content-item:nth-child(1){
    top: 9%;
    left: calc(50% - 10px);
    transform: translateX(-50%);
}
.result-form .box-content .box-content-item:nth-child(2){
    right: 13%;
    top: 30%;
}
.result-form .box-content .box-content-item:nth-child(3){
    bottom: 14%;
    right: 25%;
}
.result-form .box-content .box-content-item:nth-child(4){
    bottom: 14%;
    left: 23%;

}
.result-form .box-content .box-content-item:nth-child(5){
    left: 11%;
    top: 30%;
}

.result-form .box-footer-modal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(152, 0, 168);
    border-bottom: 3px solid #e659a3;
    padding: 30px 15px;
}
.result-form .box-footer-modal .left{
    padding-right: 20px;
}
.result-form .box-footer-modal .left .text{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.result-form .box-footer-modal .left .text-name{
    color: #ec5fa3;
    font-size: 16px;
}

.result-form .box-footer-modal .right img{
    height: 100px
}

  
.modal .modal-dialog{
    pointer-events: unset!important;
}

.result-form .box-analysis .content-mobile{
    display: none;
}




